.checkbox__label {
  position: relative;
  font-family: "PT SansB", Arial, sans-serif;
  padding-left: 35px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-left: 82px;
  cursor: pointer;
  min-height: 48px;
  display: inline-block;
  padding-top: 16px;
  box-sizing: border-box;
  vertical-align: top;

  &::after {
    content: "";
    background: url(../img/tick-checkbox.svg) no-repeat top left;
    width: 23px;
    height: 16px;
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &::before {
    content: "";
    background: url(../img/form-checkbox.svg) no-repeat top left;
    position: absolute;
    width: 56px;
    height: 56px;
    display: block;
    left: 0;
    top: 0;
  }
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

.checkbox__input:active + .checkbox__label::after {
  opacity: 0.3;
}

.checkbox__label:hover::before {
  background: #e5e5e5;
}

.checkbox__label:active::before {
  background: #d5d5d5;
}

.checkbox__input:focus + .checkbox__label::before {
  background: #e5e5e5;
}

@media (min-width: @tablet-width) {

  .checkbox__label {
    padding-left: 84px;
    padding-top: 19px;
  }
}

@media (min-width: @desktop-width) {

  .checkbox__label {
    padding-left: 81px;
  }
}
