.user-contacts {
padding: 0 20px;
border-bottom: 1px solid #E5E5E5;
margin-bottom: 30px;
}
.user-contacts__title {
margin-bottom: 27px;
}
.user-contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.user-contacts__item {
 margin-bottom: 18px;
}
@media (min-width: @tablet-width) {
  .user-contacts {
    order: 3;
    width: 100%;
    padding: 0 60px;
    border-bottom: none;
  }
}
